  /* Estilo do Container do Main */
  .container {
    position: relative; /* Permite que o Main se mova em relação ao seu contêiner */
    top: -73px; /* Move o Main 73px para cima */
    z-index: 1; /* Garante que o Main fique acima do Banner */
  }
  
  /* Estilo do Content do Main */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 750px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 0 auto; /* Centraliza horizontalmente */
  }