.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    flex-wrap: wrap;
    width: 1200px;
    height: 750px;
    align-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 1200px;
    padding: 42px 40px 34px 40px;
}

.gerencie {
    font-size: 30px;
    color: var(--gray900);
    font-weight: bolder;
}

.table {
    width: 1122px;
    height: 513px;
    border-collapse: collapse;
    /* margin: 20px 0; */
    /* font-size: 0.9em; */
    /* font-family: sans-serif; */
    /* min-width: 400px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    border-radius: 14px;
}

.thead {
    border-bottom: 1px solid var(--gray200);
    background-color: var(--gray050);
    color: var(--gray500);
}

.table thead tr {
    background-color: var(--gray050);
    text-align: left;
}

.table th {
    padding: 16px 0px 16px 16px;
    width: 160px;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
}

.th1 {
    border-radius: 14px 0 0 0;
    width: 167px;
}

.th2 {
    border-radius: 0 14px 0 0;
    width: 163px;
}

.thvazia {
    width: 471px;
}

.trbody {
    height: 66px;
}

.table td {
    /* padding: 12px 15px; */
    width: 160px;
    height: 66px;
    text-overflow: ellipsis; /* Adiciona "..." ao texto que não cabe */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

/* .table tbody tr {
    border-bottom: 1px solid #dddddd;
} */

.table tbody tr:nth-of-type(even) {
    background-color: var(--gray050);
}

/* .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

/* .table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
} */

.button {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: white;
    /* padding: 5px 10px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    /* margin: 2px 2px; */
    cursor: pointer;
    border-radius: 5px;
}

.button.cancel {
    background-color: #f44336;
    /* Red */
}
