.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    flex-wrap: wrap;
    width: 1200px;
    height: 750px;
    align-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 1200px;
    padding: 42px 40px 34px 40px;
}

.gerencie {
    font-size: 30px;
    color: var(--gray900);
    font-weight: bolder;
}

.table {
    width: 1122px;
    height: 513px;
    border-collapse: collapse;
    border-radius: 14px;
}

.thead {
    border-bottom: 1px solid var(--gray200);
    background-color: var(--gray050);
    color: var(--gray500);
}

.table thead tr {
    background-color: var(--gray050);
    text-align: left;
}

.table th {
    padding: 16px 0px 16px 16px;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
}

.th1 {
    border-radius: 14px 0 0 0;
    width: 167px;
}

.th2 {
    border-radius: 0 14px 0 0;
    width: 163px;
}

.thvazia {
    width: 471px;
}

.trbody {
    height: 66px;
}

.table td {
    /* padding: 12px 15px; */
    width: 160px;
    height: 66px;
    text-overflow: ellipsis; /* Adiciona "..." ao texto que não cabe */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    padding-left: 16px;
}

.td1 {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray900);
}

.td2, .td3 {
    color: var(--gray500);
    font-size: 14px;
    font-weight: normal;
}

.table tbody tr:nth-of-type(even) {
    background-color: var(--gray050);
}


.button {
    background-color: var(--white);
    border: 1px solid var(--gray200);
    color: var(--gray800);
    padding: 8px 0 8px 12px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 16px; /* Add margin to separate buttons */
}


.button.cancel {
    background-color: var(--white);
    border: 1px solid var(--gray200);
    color: var(--gray800);
    padding: 8px 0 8px 12px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 16px; /* Add margin to separate buttons */
}




.icons {
    width: 14px;
    height: 14px;
    margin-bottom: -3px;
    margin-left: 8px;
    margin-right: 12px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}








.realizada {
    color: var(--green800);
    background-color: var(--green200);
    font-weight: normal;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 10px;
}

.naoRealizada {
    color: var(--blue800);
    background-color: var(--blue100);
    font-weight: normal;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 10px;
}

.cancelada {
    color: var(--red800);
    background-color: var(--red200);
    font-weight: normal;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 10px;
}






