.footer {
    width: 100vw;
    height: 144px;
    background-color: var(--blue900);
    display: flex;
    justify-content: center;
    align-items: top;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 1200px;
    height: 24px;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.text {
    font-size: 16px;
    align-items: center;
    display: flex;
}

.copyright {
    width: 16px;
    height: auto;
    align-items: center;
}

.iconsContainer {
    display: flex;
    gap: 20px; /* Espaço entre os ícones */
    align-items: center;
}

.iconss {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: auto;
    cursor: pointer;
}