@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root {
    --prymary700: #1a56db;
    --blue100: #e1effe;
    --blue800: #1e429f;
    --blue900: #233876;
    --red200: #fbd5d5;
    --red800: #9b1c1c;
    --green200: #def7ec;
    --green800: #03543f;
    --gray050: #f9fafb;
    --gray200: #e5e7eb;
    --gray300: #d1d5db;
    --gray500: #6b7280;
    --gray900: #111928;
    --white: #fff;
    --black: #000;
    --bg: #f2f2f2;
}

body {
    background-color: var(--bg);
}
