.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 347px;
    height: 167px;
    background-color: var(--white);
    border-radius: 16px;
}

.logo {
    width: 347px;
    height: 120px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--gray300);
    border-radius: 16px 16px 0 0;
    padding: 28px 78px 20px 25px;
}

.title {
    width: 347px;
    height: 47px;
    font-size: 20px;
    font-weight: bold;
    color: var(--gray500);
    border-radius: 16px;
    padding: 10px 0 16px 25px;
    font-size: 14px;
}
